/****************************Common CSS**************************/
.padding-10x{
	padding: 10px;
}
.padding-5x{
	padding: 5px;
}
.padding-20x{
	padding: 20px;
}

.center{
	display: block;
	margin: 0 auto; 
}

/***********************Index Page*********************************/
#formContainer {
	border-radius: 15px;
	padding: 10px;
	z-index: 1;
}

#login_btn_cover {
	padding: 3px;
}

#homeBannerImage{
	min-height: 370px;
	z-index: 1;
}

/***********************UserProfile Page*********************************/
#bookingsBody{
	min-height: 457px;
	max-height: 457px;
	overflow-y: auto;
}